::-webkit-scrollbar {
  width: 8px; /* Adjust the width as per your preference */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change to your desired background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Change to your desired handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change to your desired hover handle color */
}
